* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    color: white;
    font-family: 'Inter', -apple-system, system-ui, sans-serif;
    overflow: hidden;
}

#app {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; /* Центрирует по горизонтали */
    align-items: flex-start; /* Поднимает всё к верху страницы */
}